@model List<BakeryItem>

@{
    Layout = "_Layout";
}

<h1>Bakery Item Page</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Discount</th>
        <th>QuantityInStock</th>
        <th>ImageURL</th>
        <th>CategoryId</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Discount</td>
            <td>@item.QuantityInStock</td>
            <td>@item.ImageURL</td>
            <td>@item.CategoryId</td>
            <td><a class = "btn btn-success" asp-controller="Admin" asp-action="EditBakeryItems" asp-route-id="@item.ID">Edit</a></td>
            <td>
                <form asp-action="deleteBakeryItems" asp-controller="Admin" asp-route-id="@item.ID" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>


        </tr>
    }
</table>

<a class="btn btn-danger" asp-controller="Admin" asp-action="AddItem">Add Item</a>